h2{
    cursor: pointer;
}

h2:hover{
    color: aqua;
}

.aberto{
    max-height: 200px;
    background-color: aqua;
    transition: max-height 1s ease-in-out;
    padding-left: 10px;
}

.fechado{
    max-height: 0;
    background-color: aqua;
    padding-left: 10px;
    transition: max-height 1s ease-in-out;
}

div{
    overflow: hidden;
}